{% block footer_top %}
    <div class="footer-top">
        <div class="row" style="align-items: center">
            {% block subscribe_newsletter %}
                <div class="col-md-5">
                    <div class="info-heading">
                        <strong>
                            <span>SUBSCRIBE NEWSLETTER</span>
                        </strong>
                    </div>
                    <div class="info-text">
                        <p>Get all the latest information on Events, Sales and Offers.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <form name="newsletterRegister"
                          class="form subscribe"
                          method="post"
                          action="{{ path("frontend.account.newsletter") }}"
                          data-form-auto-submit="true"
                          data-form-auto-submit-options='{{ formAutoSubmitOptions|json_encode }}'>

                        {% block page_account_overview_newsletter_content_form_csrf %}
                            {{ sw_csrf('frontend.account.newsletter') }}
                        {% endblock %}
                        <div class="input-wrapper">
                            <i class="fas fa-envelope"></i>
                            <input id="input-newsletter" placeholder="Email Address" type="email" id="newsletterRegister"/>
                        </div>
                        <button id="btn-subscribe" type="submit">
                            <span>subscribe</span>
                        </button>
                    </form>
                </div>
            {% endblock subscribe_newsletter %}
            {% block social_media %}
                <div class="col-md-12 col-lg-2">
                    <div class="socialmedia-wrapper">
                        {% if shopware.theme.Facebook %}
                            <span><a class="socialmedia-link" href="{{ shopware.theme.Facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></span>
                        {% endif %}

                        {% if shopware.theme.Twitter %}
                            <span><a class="socialmedia-link" href="{{ shopware.theme.Twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></span>
                        {% endif %}

                        {% if shopware.theme.LinkedIn %}
                            <span><a class="socialmedia-link" href="{{ shopware.theme.LinkedIn }}" target="_blank"><i class="fab fa-linkedin"></i></a></span>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer_main %}
    <div class="footer-main">
        <div class="row">
            <div class="col-lg-3">
                <div class="info-heading">
                    <strong>
                        <span>CONTACT INFORMATION</span>
                    </strong>
                </div>
                <div class="info-text">
                    <ul class="contact-info">
                        <li>
                            <p>
                                <b>Address</b>
                                <br>
                                {{ shopware.theme.Address }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Phone</b>
                                <br>
                                {{ shopware.theme.Phone }}
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>Email</b>
                                <br>
                                <a href="mailto:{{ shopware.theme.Email }}">{{ shopware.theme.Email }}</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    {% for footerNavItem in page.footer.navigation.tree %}
                        {% set name = footerNavItem.category.translated.name %}
                        <div class="col-md-12 col-lg-6">
                            <div class="info-heading"><strong><span>{{ name }}</span></strong></div>
                            <div class="info-text">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="link-list">
                                            {% for FooterChildItem in footerNavItem.children[:(footerNavItem.category.childCount+1) / 2] %}
                                                <li>
                                                    <a href="{{ seoUrl('frontend.navigation.page', { navigationId: FooterChildItem.category.id }) }}">{{ FooterChildItem.category.translated.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="link-list">
                                            {% for FooterChildItem in footerNavItem.children[(footerNavItem.category.childCount+1) / 2:] %}
                                                <li>
                                                    <a href="{{ seoUrl('frontend.navigation.page', { navigationId: FooterChildItem.category.id }) }}">{{ FooterChildItem.category.translated.name }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row footer-bottom-wrapper">
                    <div class="col-md-5">
                        <address>{{ shopware.theme.ShopName }}. © <script>document.write(new Date().getFullYear())</script>. All Rights Reserved</address>
                    </div>
                    <div class="col-md-7">
                        <div class="uptime">
                            <span>
                                WORKING DAYS/HOURS
                                <br>
                                <b>{{ shopware.theme.Oeffnungszeiten }}</b>
                            </span>
                        </div>
                        <div class="payment-info">
                            <img src="{{ asset('payment_icon.png', '@MarkusTheme') }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
