{% block emz_curr_lang_switch %}
    <div class="emz_select_wrapper">
        <div class="currency emz_switch_box">
            <form method="post" action="{{ path('frontend.checkout.configure') }}" class="currency-form" data-form-auto-submit="true">

                {{ sw_csrf('frontend.checkout.configure') }}
                <span>
                    {{ page.header.activeCurrency.isoCode }}
                </span>
                <i class="fas fa-chevron-down"></i>

                <span class="emz_switch_box_menu">
                    {% for currency in page.header.currencies.elements %}
                        {% if currency != page.header.activeCurrency %}
                            <label for="{{ currency.id }}">
                                <input id="{{ currency.id }}"
                                       class="top-bar-list-radio"
                                       value="{{ currency.id }}"
                                       name="languageId"
                                       type="radio">
                                {{ currency.isoCode }} - {{ currency.name }}
                            </label>
                        {% endif %}
                    {% endfor %}
                </span>

                <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

                {% for key, value in app.request.attributes.get('_route_params') %}
                    <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                {% endfor %}
            </form>
        </div>

        <div class="lang emz_switch_box">
            <form method="post" action="{{ path('frontend.checkout.switch-language') }}" class="language-form" data-form-auto-submit="true">

                {{ sw_csrf('frontend.checkout.switch-language') }}

                <span>
                    {{ page.header.activeLanguage.name }}
                </span>
                {% if page.header.languages.elements|length > 1 %}
                    <i class="fas fa-chevron-down"></i>
                    <span class="emz_switch_box_menu">
                        {% for language in page.header.languages.elements %}
                            {% if language != page.header.activeLanguage %}
                                <label for="{{ language.id }}">
                                    <input id="{{ language.id }}"
                                           class="top-bar-list-radio"
                                           value="{{ language.id }}"
                                           name="languageId"
                                           type="radio">
                                    {{ language.name }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}

                <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

                {% for key, value in app.request.attributes.get('_route_params') %}
                    <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
