{% block emz_main_nav %}
    <div class="emz_mega_menu sticky-top">
        {% block emz_main_nav_switch_menu %}
            <div class="emz_tab_wrapper">
                <div id="menu" class="emz_tab_switch active_tab"><span><i class="fas fa-bars"></i><a href="#">Menu</a></span></div>
                <div id="account" class="emz_tab_switch"><a href="#">Account</a></div>
                <div id="settings" class="emz_tab_switch"><a href="#">Settings</a></div>
            </div>
        {% endblock %}
        {% block emz_main_nav_content %}
            <nav class="emz_main_nav container d-md-flex justify-content-between align-items-center">
                <ul class="m-0 p-0" id="nav_menu">
                    {% for treeItem in page.header.navigation.tree %}
                        {% set id = treeItem.category.id %}
                        {% set name = treeItem.category.translated.name %}
                        {% set type = treeItem.category.type %}
                        {% set link = treeItem.category.externalLink %}
                        {% set img = treeItem.category.media.url %}

                        {% if treeItem.children|length <= 0 %}
                            <li class="emz_menu_item"><a href="{{ link }}" class="first_level text-uppercase pl-1 pr-2"><span>{{ name }}</span></a></li>
                        {% else %}
                            <li class="emz_menu_item">
                                <a href="{{ link }}" id="categories" class="first_level_list text-uppercase pl-1 pr-2"><span>{{ name }}</span></a>
                                <i class="menu_toggle fas fa-chevron-down"></i>
                                <div class="emz_sub_menu emz_sub_menu_small">
                                    <div class="row">
                                        <ul class="emz_sub_child_menu col-md-8 d-flex">
                                            {% for childItem in treeItem.children %}
                                                <li class="second_level emz_menu_item">
                                                    <a href="#" class=" emz_dropdown_heading">{{ childItem.category.name }}</a>
                                                    <ul class="emz_sub_child_menu">
                                                        {% for subChildItem in childItem.children %}
                                                            <li class="second_level emz_menu_item"><a href="{{ seoUrl('frontend.navigation.page', { navigationId: subChildItem.category.id }) }}">{{ subChildItem.category.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% if img %}
                                            <div class="emz_menu_right col-4">
                                                <a href="#">
                                                    <img class="emz_small_dropdown_image" alt="sale" src="{{ img }}"/>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="m-0 p-0" style="display: none" id="account_menu">
                    {% sw_include '@MarkusTheme/storefront/layout/header/emz_head_nav.html.twig' %}
                </ul>
                <ul class="m-0 p-0" style="display: none" id="settings_menu">
                    <li class="currency emz_switch_box">
                        <form method="post" action="{{ path('frontend.checkout.configure') }}" class="currency-form" data-form-auto-submit="true">

                            {{ sw_csrf('frontend.checkout.configure') }}
                            <span>
                                {{ page.header.activeCurrency.isoCode }}
                            </span>
                            <i class="fas fa-chevron-down"></i>

                            <span class="emz_switch_box_menu">
                                {% for currency in page.header.currencies.elements %}
                                    {% if currency != page.header.activeCurrency %}
                                        <label for="{{ currency.id }}">
                                            <input id="{{ currency.id }}"
                                                   class="top-bar-list-radio"
                                                   value="{{ currency.id }}"
                                                   name="languageId"
                                                   type="radio">
                                            {{ currency.isoCode }} - {{ currency.name }}
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </span>

                            <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

                            {% for key, value in app.request.attributes.get('_route_params') %}
                                <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                            {% endfor %}
                        </form>
                    </li>

                    <li class="lang emz_switch_box">
                        <form method="post" action="{{ path('frontend.checkout.switch-language') }}" class="language-form" data-form-auto-submit="true">

                            {{ sw_csrf('frontend.checkout.switch-language') }}

                            <span>
                                {{ page.header.activeLanguage.name }}
                            </span>
                            {% if page.header.languages.elements|length > 1 %}
                                <i class="fas fa-chevron-down"></i>
                                <span class="emz_switch_box_menu">
                                    {% for language in page.header.languages.elements %}
                                        {% if language != page.header.activeLanguage %}
                                            <label for="{{ language.id }}">
                                                <input id="{{ language.id }}"
                                                       class="top-bar-list-radio"
                                                       value="{{ language.id }}"
                                                       name="languageId"
                                                       type="radio">
                                                {{ language.name }}
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}

                            <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

                            {% for key, value in app.request.attributes.get('_route_params') %}
                                <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                            {% endfor %}
                        </form>
                    </li>
                </ul>
                <span id="emz_shopping_cart_big" class="emz_icon_wrapper">{% sw_include '@MarkusTheme/storefront/layout/header/emz_shopping_cart.html.twig' %}</span>
            </nav>
        {% endblock %}
    </div>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".emz_menu_item").click(function() {
        $(this).find(".first_level_list").toggleClass("active_list");
        $(this).find(".fas").toggleClass("fa-chevron-down");
        $(this).find(".fas").toggleClass("fa-chevron-up");
        $(this).find(".emz_sub_menu").toggleClass("show");
    });

    $(document).mouseup(e => {
        if (!$(".emz_mega_menu").is(e.target) && $(".emz_mega_menu").has(e.target).length === 0) {
            $("body").removeClass("showSidebar");
            $(".emz_icon_wrapper").show("slow");
        }

        if (!$(".emz_shopping_cart_details").is(e.target) && $(".emz_shopping_cart_details").has(e.target).length === 0) {
            $(".emz_shopping_cart_details").removeClass("displayTrue");
        }
    });

    $("#toggleSideBar").click(function () {
        $("body").toggleClass("showSidebar");
        $(".emz_icon_wrapper").hide("slow");
    })

    $("#searchIcon").click(function() {
        $(".emz_mobile_search_box").toggleClass("displayTrue");
    })

    $(".emz_shopping_cart_wrapper").click(function() {
        $(".emz_shopping_cart_details").toggleClass("displayTrue");
    })

    $(".emz_shopping_cart_details > i").click(function() {
        $(".emz_shopping_cart_details").toggleClass("displayTrue");
    })

    $(".currency").click(function() {
        $(".currency .emz_switch_box_menu").toggleClass("displayTrue");
        $(".currency > form > i").toggleClass("fa-chevron-down");
        $(".currency > form > i").toggleClass("fa-chevron-up");
        if ($(".lang .emz_switch_box_menu").hasClass("displayTrue")) {
            $(".lang .emz_switch_box_menu").toggleClass("displayTrue");
            $(".lang > form > i").toggleClass("fa-chevron-down");
            $(".lang > form > i").toggleClass("fa-chevron-up");
        }
    })

    $(".lang").click(function() {
        $(".lang .emz_switch_box_menu").toggleClass("displayTrue");
        $(".lang > form > i").toggleClass("fa-chevron-down");
        $(".lang > form > i").toggleClass("fa-chevron-up");
        if ($(".currency .emz_switch_box_menu").hasClass("displayTrue")) {
            $(".currency .emz_switch_box_menu").toggleClass("displayTrue");
            $(".currency > form > i").toggleClass("fa-chevron-down");
            $(".currency > form > i").toggleClass("fa-chevron-up");
        }
    })

    $("#menu").click(function() {
        if (!$("#menu").hasClass("active_tab")) {
            $("#menu").toggleClass("active_tab");
            $("#account_menu").hide();
            $("#settings_menu").hide();
            $("#nav_menu").show();

            if ($("#account").hasClass("active_tab"))
                $("#account").toggleClass("active_tab");

            if ($("#settings").hasClass("active_tab"))
                $("#settings").toggleClass("active_tab");
        }
    })

    $("#account").click(function() {
        if (!$("#account").hasClass("active_tab")) {
            $("#account").toggleClass("active_tab");
            $("#account_menu").show();
            $("#settings_menu").hide();
            $("#nav_menu").hide();

            if ($("#menu").hasClass("active_tab"))
                $("#menu").toggleClass("active_tab");

            if ($("#settings").hasClass("active_tab"))
                $("#settings").toggleClass("active_tab");
        }
    })

    $("#settings").click(function() {
        if (!$("#settings").hasClass("active_tab")) {
            $("#settings").toggleClass("active_tab");
            $("#account_menu").hide();
            $("#settings_menu").show();
            $("#nav_menu").hide();

            if ($("#menu").hasClass("active_tab"))
                $("#menu").toggleClass("active_tab");

            if ($("#account").hasClass("active_tab"))
                $("#account").toggleClass("active_tab");
        }
    })
</script>
